<footer class="site-footer">

  <div class="container">

    <ul class="social-links">
      {% if site.email %}
      <li>
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-email">&nbsp;</i>
          {{ site.email }}
        </a>
      </li>
      {% endif %}
      {% if site.project_url %}
      <li>
        <a href="{{ site.project_url }}">
          <i class="fa fa-github">&nbsp;</i>
          <span class="sr-only">{{ site.project_url }}</span>
        </a>
      </li>
      {% endif %}
      {% if site.twitter_username %}
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter">&nbsp;</i>
          <span class="sr-only">{{ site.twitter_username }}</span>
        </a>
      </li>
      {% endif %}
    </ul>

    <div class="site-info">
      <h2 class="footer-heading">{{ site.title }}</h2>
      <p class="legal">
        <!--Developed by <a href="{{ site.url }}"><i class="fa fa-grid-principles">&nbsp;</i><span class="sr-only">Grid Principles</span></a>-->
        <!--&bull;&nbsp;-->
        Licensed under <a href="https://github.com/gridprinciples/contactable/blob/master/license.txt">MIT</a>
      </p>
    </div>

  </div>

</footer>
